<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.order.mapper.OrderInfoMapper">

    <!-- 订单分页列表查询   -->
    <resultMap id="orderInfoMap" type="com.atguigu.tingshu.model.order.OrderInfo">
        <id column="id" property="id"></id>
        <collection property="orderDetailList" ofType="com.atguigu.tingshu.model.order.OrderDetail" autoMapping="true">
            <id column="order_detial_id" property="id"></id>
        </collection>
    </resultMap>
    <select id="getUserOrderByPage" resultMap="orderInfoMap">
        SELECT oi.id,
               oi.user_id,
               oi.order_title,
               oi.order_no,
               oi.order_status,
               oi.original_amount,
               oi.derate_amount,
               oi.order_amount,
               oi.item_type,
               oi.pay_way,
               od.id order_detial_id,
               od.item_id,
               od.item_name,
               od.item_url,
               od.item_price
        FROM order_info oi
                 INNER JOIN order_detail od ON oi.id = od.order_id
        WHERE oi.user_id = #{userId}
          AND oi.is_deleted = 0
        ORDER BY oi.id DESC
    </select>
</mapper>

